

#content{
	width:100%;
	background-color:white;
	color: black;
}
#top{
	text-align: center;
}
#top h1{
	display:inline-block;
}
#contentLeftSide{
	float: left;
  	width: 50%;
  	height: 550px;
	background-color: #CCCECD;
	color: black;
}
#contentLeftSide h2, #contentLeftSide h3{
	padding-left: 10px;	
}
.section{
	width:90%;
	margin-left:5%;
	margin-right:5%;
	background-color:#efefef;
	border-radius: 5px;
}
#contentRightSide{
	float: left;
  	width: 50%;
	background-color: white;
	color: black; 
}
.mapouter{position:relative;text-align:right;height:100%;width:100%;}
.gmap_canvas {overflow:hidden;background:none!important;height:550px;width:100%;max-width:769px;max-height:550px}
#content:after {
	content:"";
	display: table;
	clear: both;
}
@media screen and (max-width: 769px){
	#contentLeftSide, #contentRightSide{
	width: 100%;
	float: clear;
	}
}