@media screen and (max-width: 768px)
{
	#righthead h3{font-size: 12px;}
	.navbar a, .subnav .subnavbtn{font-size: 14.63px;}
	.subnav-content a {font-size: 14px;}
	#footer h1{font-size: 18px;}
	#footer h2{font-size: 14px;}
	#footer h3{font-size: 12px;}
	.icon{width: 24px; opacity: 1.0;}
	#BBBpic {width: 144px;}
	#ROCpic {width: 65px;}
	#header{text-align:center;}
	#lefthead {max-width:100%;}
	#righthead {max-width:100%;}
	#righthead #banner{display: inline-block;}
	#rightheadInfoAndIcons{max-width:400px; display:inline-block;}
	#righthead #rightheadInfo{display:inline:block; float:left;}
	#righthead #icons{display:inline-block; float:right;padding-top:12px; padding-left: 10px;}
	#righthead icon{display:inline-block;}
	.navbar {display:none;}
	#mobileNavBtn {display:block;}
	
	
}
@media screen and (min-width: 769px)
{
	#righthead h3{font-size: 12px;}
	.navbar a, .subnav .subnavbtn{font-size: 14.63px;}
	.subnav-content a {font-size: 12px;}
	#footer h1{font-size: 18px;}
	#footer h2{font-size: 14px;}
	#footer h3{font-size: 12px;}
	.icon{width: 28px; opacity: 0.5;}
	#BBBpic {width: 152px;}
	#ROCpic {width: 70px;}
	#lefthead {max-width:66.66%;float: left;}
	#righthead {max-width:33.33%;float: left;}
	#righthead img{display:inline-block;}
	#mobileNavBtn {display:none;}
}
@media screen and (min-width: 992px)
{
	#righthead h3{font-size: 14px;}
	.navbar a, .subnav .subnavbtn{font-size: 19px;}
	.subnav-content a {font-size: 15px;}
	#footer h1{font-size: 20px;}
	#footer h2{font-size: 15px;}
	#footer h3{font-size: 12px;}
	.icon{width: 30px;}
	.icon{width: 32px;}
	#BBBpic {width: 160px;}
	#ROCpic {width: 75px;}
	#lefthead {max-width:66.66%;float: left;}
	#righthead {max-width:33.33%;float: left;}
	#righthead img{display:inline-block;}
	#mobileNavBtn {diplay:none;}
	
}
@media screen and (min-width: 1200px)
{
	#righthead h3{font-size: 16px;}
	.navbar a, .subnav .subnavbtn{font-size: 24px;}
	.subnav-content a {font-size: 18px;}
	#footer h1{font-size: 24px;}
	#footer h2{font-size: 18px;}
	#footer h3{font-size: 14px;}
	.icon{width: 32px;}
	#BBBpic {width: 168px;}
	#ROCpic {width: 80px;}
	#lefthead {max-width:66.66%;float: left;}
	#righthead {max-width:33.33%;float: left;}
	#righthead img{display:inline-block;}
	#mobileNavBtn {diplay:none;}
	
}
/*html { background-image: url("backgroundImage.png"); }*/
body{
	margin: 0 auto;
	background-color: #1A1915;
	font-family: Franklin Gothic Demi, Verdana, Georgia;
	
}
#page{
	width: 1200px;
	max-width:100%;
	height: auto;
	margin: 0 auto;
	background-color: #1A1915;
}
#header{
	width:100%;
	color: #eeeeee;
}
#lefthead{
	height: auto;
}
#lefthead img{
	width: 100%;
	max-width: 800px;
	height: auto;
}
#righthead{
	height: auto;
	text-align: center;
}
#righthead img{
	/*display: inline-block;*/
	/*margin:auto;*/
}
.icon{
	max-width: 32px;
	height: auto;
	margin-right: 5px;
	
}
.icon:hover{
	opacity: 1.0;
}

#righthead #banner{
	width: 90%;
	max-width: 400px;
	height: auto;
}
/* The navigation menu */
.navbar {
  width: 100%;
  overflow: hidden;
  background-color: #333;
  font-family: Britannic Bold, Arial Black;

  
  /*border-radius: 25px;*/
}

/* Navigation links */
.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #333;
  font-family: inherit;
  display: inline-block;

  text-align: center;
  margin: 0;
  
}

/* Add a white background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: white;
  color: black;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  
  
  background-color: #333;
  width: auto;
  z-index: 1;
}

/* Style the subnav links 18px*/
.subnav-content a {
  
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

/* Mobile Nav */
#mobileNavBtn {
	width: 100%;
	background-color: #333;
	padding-top: 5px;
	padding-bottom: 5px;
	color:white;
	cursor:pointer;
}
.overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: black;
  background-color: white;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.mobile-subnav {
  overflow: hidden;
}

/* Subnav button */
.mobile-subnav .mobile-subnavbtn {
  border: none;
  outline: none;
  font-family: inherit;
  text-align: center;
  margin-bottom: 10px;
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: rgba(0,0,0, 0.9);
  
}

.mobile-subnav-content {
  display: none;
  width: auto;
}

/* Style the subnav links 18px*/
.mobile-subnav-content a {
  text-decoration: none;
  color: black;

}

/* Add a grey background color on hover */
.mobile-subnav-content a:hover {
  background-color: black;
  color: white;
}

/* When you move the mouse over the subnav container, open the subnav content */
.mobile-subnav:hover .mobile-subnav-content {
  display: block;
  background-color:white;
}
/* end mobile nav */
#footer{
	background-color: #333;
	color: white;
	text-align: center;
	font-family: Franklin Gothic Demi, Verdana, Georgia;
}
#BBBpic {
	padding: 20px 0;
	display: inline-block;
	
	max-width: 168px;
	height: auto;
}
#ROCpic {
	max-width: 80px;
	height: auto;
}