* {box-sizing:border-box}
@media screen and (max-width: 768px)
{
	.slideTitle {font-size: 20px;}
	#contentLeftSide{width:100%;}
	#contentRightSide{width:100%;}
	#contentLeftSide h1{font-size: 16px;}
	#contentLeftSide p{font-size: 14px;}
}
@media screen and (min-width: 769px)
{
	.slideTitle {font-size: 23px;}
	#contentLeftSide{float: left; width:50%;}
	#contentRightSide{float: left; width:50%;}
	#contentLeftSide h1{font-size: 16px;}
	#contentLeftSide p{font-size: 14px;}
}
@media screen and (min-width: 992px)
{
	.slideTitle {font-size: 30px;}
	#contentLeftSide h1{font-size: 20px;}
	#contentLeftSide p{font-size: 18px;}
}
@media screen and (min-width: 1200px)
{
	.slideTitle {font-size: 36px;}
	#contentLeftSide h1{font-size: 24px;}
	 #contentLeftSide p{font-size: 22px;}
}
/* Slideshow container */
.slideshow-container {
  max-width:100%;
  height: auto;
  position: relative;
  margin: auto;
  display:block;
}
.slide{
	max-width:100%;
	height: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  
}

/* Caption on slide */
.slideTitle {
  color: #f2f2f2;
  font-family: Britannic Bold, Impact, Haettenschweiler;
  padding: 8px 12px;
  position: absolute;
  top: 10%;
  left: 5%;
  background-color: rgba(0,0,0, 0.5);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#content{
	margin-top: 15px;
	width: 100%;
	height: auto;
	background-color: white;
	color: black;
	
}
#contentLeftSide{
  	padding: 10px;
	background-color: white;
	color: black;
}
#contentRightSide{

  	padding: 10px;
	background-color: white;
	color: black; 
	
	padding: 0 0;
}
#contentRightSide img{
	width: 100%;
	max-width: 800px;
	height: auto;
	vertical-align: middle;
}
#content:after {
	content:"";
	display: table;
	clear: both;
}
@media screen and (max-width: 600px){
	#contentLeftSide #contentRightSide{
	width: 100%;
	}
}