#content{
	width: 100%;
	height: auto;
	background-color: white;
	color: black;
	
}
#top{
	text-align: center;
}
#top h3{

}
#testimonials{
	background-color:#CCCECD;
	border-radius: 5px;
	text-align: center;
}
#testimonials h3{
	text-align: center;
	display: inline-block;
	padding: 10px;
	background-color: white;
	border-color: black;
	border-radius: 5px;
}
tr{
	backgorund-color: #A8A8A8;
}
td{
	background-color:#CCCECD;
	padding:5px;
	text-align: left;
}
.testimonial{
	background-color: white;
	border-radius: 5px;
	padding:5px;
}
#yelpReviews{
	text-align: center;
	background-color:#c60000;
}
#yelpReviews .yelp-review{
	display: inline-block;
	margin: auto;
}